<div class="flex flex-col gap-3 md:gap-5">
  @for (word of exerciceService.words(); track word.id) {
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 items-center">
    <label class="md:text-right" [for]="'answer' + $index">{{
      exerciceService.getWordTranslation(word)
    }}</label>
    <div class="flex items-center">
      <input
        type="text"
        [class]="
          'flex-1 min-w-0 md:max-w-48 px-0.5 border-b border-black ' +
          'font-bold disabled:border-gray-400'
        "
        [id]="'answer' + $index"
        [name]="'answer' + $index"
        [value]="exerciceService.getFormValue($index)"
        (input)="onInput($index, $event)"
        (focus)="exerciceService.setLastInputFocusIndex($index)"
        [disabled]="exerciceService.isFormValueValid($index)"
        autocomplete="off"
        autocapitalize="off"
        #formInput
      />
      @if (exerciceService.isFormValueValid($index)) {
      <app-check-icon />
      }
    </div>
  </div>
  }
</div>

<app-spacer />

<div class="grid grid-cols-2 gap-4">
  <div class="justify-self-end">
    <button
      type="button"
      appBtn
      appBtnTheme="secondary"
      (click)="exerciceService.goToPreviousStep()"
    >
      <app-arrow-left-icon />
      Précédent
    </button>
  </div>
  <div>
    <button
      type="button"
      appBtn
      appBtnTheme="primary"
      [disabled]="!exerciceService.areAllFormValuesValid()"
      (click)="exerciceService.goToNextStep()"
    >
      Valider <app-check-icon />
    </button>
  </div>
</div>
