<form class="grid grid-cols-2 gap-4" (ngSubmit)="handleSubmit()">
  @for (word of words; track word.id; let idx = $index) {
  <span class="justify-self-end">{{ word.translationFr }}</span>
  <span>
    <input
      type="text"
      class="border-b border-black w-48 font-bold"
      [name]="'answer' + idx"
      [(ngModel)]="inputValues[idx]"
      (input)="onInput(idx)"
      (focus)="wordExerciceService.lastInputFocusIndex = idx"
    />
    @if (word.value === inputValues[idx]) {
    <span class="px-2 font-bold">✔</span>
    }
  </span>
  }
  <div class="pt-2 justify-self-end">
    <a [routerLink]="['../qcm']" class="px-2 font-bold text-lg"> ↩ </a>
  </div>
  <div class="pt-2">
    <button
      type="submit"
      class="px-2 font-bold text-lg disabled:opacity-40"
      [disabled]="!isWin()"
    >
      ↻
    </button>
  </div>
</form>
