<div class="flex flex-wrap items-center gap-2 text-lg h-full">
  @for (breadcrumbItem of breadcrumb(); track $index) { @if
  (breadcrumbItem.bgColor) {

  <a
    [routerLink]="breadcrumbItem.url"
    [class]="
      'px-2 rounded-md font-bold capitalize text-white ' +
      breadcrumbItem.bgColor
    "
    >{{ breadcrumbItem.label }}</a
  >
  } @else {
  <a
    [routerLink]="breadcrumbItem.url"
    class="capitalize text-gray-700 hover:text-black"
    >{{ breadcrumbItem.label }}</a
  >
  } @if (!$last) {
  <span class="px-1">/</span>
  } }
</div>
