<app-client-side>
  <app-words-exercice-header
    [nbWordsAnswered]="wordsExerciceService.nbWordsAnswered()"
    [nbWordsAvailable]="wordsExerciceService.nbWordsAvailable()"
    [areAllWordsAnswered]="wordsExerciceService.areAllWordsAnswered()"
  />

  @if (wordsExerciceService.step() === "preview") {
  <app-words-exercice-step-preview
    [nextWordsGroup]="nextWordsGroup()"
  ></app-words-exercice-step-preview>
  } @if (wordsExerciceService.step() === "form") {
  <app-words-exercice-step-form></app-words-exercice-step-form>
  }
</app-client-side>
