<div class="flex flex-col gap-10">
  @for (category of categories(); track $index) {
  <div>
    <a
      [routerLink]="[$index + 1]"
      [class]="
        'block text-center font-bold py-1 text-lg bg-gray-900 text-white'
      "
      >{{ category.id }}</a
    >
    <div
      class="p-3 flex flex-wrap gap-2 border-2 border-gray-800 text-gray-950 relative"
    >
      @for (word of category.words; track $index;) {
      <span>{{ word.value }}</span>
      @if (!$last) {
      <span>•</span>
      } }

      <span
        [class]="
          'font-bold text-xs p-1 text-gray-700 text-opacity-90 bg-white ' +
          'border-2 border-gray-700 absolute -right-2 -bottom-3 rounded-full'
        "
        >{{ category.words.length }}</span
      >
    </div>
  </div>
  }
</div>
