@for (category of categories(); track $index) {
<a [routerLink]="[$index + 1]" class="block border-2 border-black mb-6">
  <div class="flex justify-between items-center bg-black text-white py-1 px-4">
    <span class="font-bold text-xl">{{ category.id }}</span>
    <span class="font-bold text-sm">({{ category.words.length }})</span>
  </div>

  <div class="p-1 flex flex-wrap gap-2">
    @for (word of category.words; track $index;) {
    <span>{{ word.value }}</span>
    @if (!$last) {
    <span>•</span>
    } }
  </div>
</a>
}
