<app-meta
  robots="index, nofollow"
  [description]="metaDescription()"
  [og]="metaOg()"
/>

<app-top-bar [isHighlighted]="isCompleted()" />

<div
  class="min-h-[calc(100lvh-12rem)] sm:min-h-[calc(100lvh-6rem)] flex flex-col gap-12 pt-3 sm:pt-6"
>
  <div class="flex-1 relative">
    <div
      class="text-2xl sm:text-4xl font-mono leading-normal cursor-default whitespace-break-spaces"
    >
      @let _wordIdx = wordIdx(); @let _wordLetters =
      wordValidationResult().wordLetters; @let _wordLetterIdx = wordLetterIdx();
      @let _hasInputFocus = hasInputFocus(); @for (word of words(); track
      $index) { @if ($index === _wordIdx) {
      <span class="relative">
        <input
          #inputEl
          type="text"
          class="absolute top-0 left-0 bottom-0 right-0 opacity-0"
          autocomplete="off"
          autocapitalize="off"
          [value]="inputTextValue()"
          (keydown)="onKeydown($event)"
          (input)="onInput($event)"
          (focus)="onFocus()"
          (blur)="onBlur()"
        />

        @for (letter of _wordLetters; track $index) { @let _isInvalidLetter =
        letter.isValid === false; @let _isCurrentLetter = $index ===
        _wordLetterIdx;
        <span
          class="border-b-4"
          [class.text-neutral-500]="letter.isValid === undefined"
          [class.text-red-600]="letter.isValid === false"
          [class.text-black]="letter.isValid === true"
          [class.border-b-transparent]="!_isCurrentLetter"
          [class.border-b-neutral-400]="_isCurrentLetter && !_hasInputFocus"
          [class.border-b-black]="_isCurrentLetter && _hasInputFocus && !_isInvalidLetter"
          [class.border-b-red-600]="_isCurrentLetter && _hasInputFocus && _isInvalidLetter"
          >{{letter.value}}</span
        >
        }
      </span>
      } @else {
      <span
        [class.text-neutral-500]="$index >= _wordIdx"
        [class.text-neutral-800]="$index < _wordIdx"
        >{{word}}</span
      >
      } }
    </div>
  </div>

  <app-pagination-bar
    [lastPage]="text().contents.length"
    [currentPage]="currentPage()"
    [highlightedPages]="completedPages()"
    (selectPage)="setTextPage($event)"
  />
</div>

<div class="py-6"></div>

<app-text-links [texts]="otherTexts()" />
