<a
  [routerLink]="['/', group().category.pathParam, group().pathParam]"
  class="block border border-gray-400 hover:border-gray-800 rounded-t-md shadow-md hover:shadow-xl transition-all duration-500"
>
  <div
    class="flex items-center gap-4 px-3 py-3 rounded-t-md"
    [class]="
      isGroupCompleted() ? 
        `${this.group().category.color.bgColor} text-white` : ''
    "
  >
    <span
      class="px-1 rounded font-bold text-white border-2"
      [class]="
        group().category.color.bgColor +
        ' ' +
        group().category.color.borderColor
      "
      >{{ group().category.label }}</span
    >
    <span
      class="font-bold px-2 rounded-lg bg-white text-black border-2"
      [class]="group().category.color.borderColor"
      >{{ group().label }}</span
    >
  </div>
  <div class="p-3 pb-5 text-gray-950">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-7 gap-y-5">
      @for (word of group().words; track word.id) {
      <div class="word">
        <div class="font-bold">{{ word.es }}</div>
        <div>{{ word.fr }}</div>
      </div>
      }
    </div>
  </div>
</a>
