<app-meta robots="noIndex" />

<div
  class="min-h-[calc(100lvh-7rem)] flex flex-col items-center justify-center gap-16"
>
  <div class="flex flex-col gap-2">
    <p class="text-4xl">Page introuvable</p>
    <p class="text-lg">
      Ce contenu n’existe pas ou n’existe plus. Une erreur s’est peut-être
      glissée dans l’adresse que vous avez tapée.
    </p>
  </div>
  <a
    routerLink="/"
    class="p-3 font-bold bg-black/90 text-white rounded-lg shadow-lg transition-all hover:bg-black hover:shadow-xl"
    >Page d'acceuil</a
  >
</div>
