<div class="flex justify-center items-center pb-6 gap-5">
  <div class="flex-1 flex justify-end">
    @if (areAllWordsAnswered() && previousWordsGroupId()) {
    <a
      [routerLink]="['/', previousWordsGroupId()]"
      [class]="
        'bg-black text-white px-5 py-1 rounded-lg ' +
        'font-bold shadow-md hover:opacity-80'
      "
    >
      {{ previousWordsGroupId() }}
    </a>
    }
  </div>

  <span
    class="py-1 px-2 text-gray-700 italic"
    [class.font-bold]="areAllWordsAnswered()"
  >
    {{ nbWordsAnswered() }} / {{ nbWordsAvailable() }}
  </span>

  <div class="flex-1 flex justify-start">
    @if (areAllWordsAnswered() && nextWordsGroupId()) {
    <a
      [routerLink]="['/', nextWordsGroupId()]"
      [class]="
        'bg-black text-white px-5 py-1 rounded-lg ' +
        'font-bold shadow-md hover:opacity-80'
      "
    >
      {{ nextWordsGroupId() }}
    </a>
    }
  </div>
</div>
