@if(nextGroups().length > 0) {
<div class="pt-16 px-10 flex flex-col gap-16">
  @for (group of nextGroups(); track $index) {
  <a
    [class]="
      'group border pt-6 pb-8 px-3 rounded-md transition-all ' +
      'border-neutral-400 shadow-md hover:border-neutral-800 hover:shadow-xl'
    "
    [routerLink]="['/', group.category.pathParam, group.pathParam]"
  >
    <div class="flex flex-col gap-7">
      <div class="text-2xl font-bold">
        <span
          class="px-1 rounded text-white"
          [class]="group.category.color.bgColor"
          >{{ group.category.label }}</span
        >
        <span class="mx-4">{{ group.label }}</span>
      </div>
      <ul class="flex-1 flex flex-wrap gap-x-6 gap-y-2 leading-relaxed">
        @for (word of group.words; track $index) {
        <li>{{ word.es }}</li>
        }
      </ul>
    </div>
  </a>
  }
</div>
}
