<div class="flex justify-center gap-6 py-4">
  @if (showArrow()) {
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowLeft.emit()"
  >
    <app-arrow-left-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  }
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="patchQuestion.emit()"
  >
    <app-patch-question-icon className="w-8 h-8 fill-neutral-900" />
  </button>

  <div class="flex justify-center mx-5 relative">
    @if (infoText()) {
    <span class="absolute -top-12 text-lg font-bold">{{ infoText() }}</span>
    }
    <app-exercice-level-picker
      [(level)]="level"
      iconClass="w-9 h-9"
    ></app-exercice-level-picker>
  </div>

  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowClockwise.emit()"
  >
    <app-arrow-clockwise-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  @if (showArrow()) {
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowRight.emit()"
  >
    <app-arrow-right-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  }
</div>
