<div class="flex flex-col gap-3 md:gap-5">
  @for (word of exerciceService.words(); track word.id) {
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 md:items-center">
    <span class="md:text-right font-bold">{{
      exerciceService.getWordValue(word)
    }}</span>
    <span class="border-b border-transparent">{{
      exerciceService.getWordTranslation(word)
    }}</span>
  </div>
  }
</div>

<app-spacer />

<div class="flex justify-center">
  <button type="button" appBtn (click)="exerciceService.goToNextStep()">
    Suivant
    <app-arrow-right-icon />
  </button>
</div>
