<div class="flex justify-center gap-5 py-4">
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowLeftCircleFill.emit()"
  >
    <app-arrow-left-circle-fill-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowLeft.emit()"
  >
    <app-arrow-left-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowLeftShort.emit()"
  >
    <app-arrow-left-short-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="patchQuestion.emit()"
  >
    <app-patch-question-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowClockwise.emit()"
  >
    <app-arrow-clockwise-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowRightShort.emit()"
  >
    <app-arrow-right-short-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowRight.emit()"
  >
    <app-arrow-right-icon className="w-8 h-8 fill-neutral-900" />
  </button>
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowRightCircle.emit()"
  >
    <app-arrow-right-circle-fill-icon className="w-8 h-8 fill-neutral-900" />
  </button>
</div>
