<div class="flex justify-center gap-6">
  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="patchQuestion.emit()"
  >
    <app-patch-question-icon className="w-8 h-8 fill-neutral-900" />
  </button>

  <div class="flex justify-center mx-5 relative">
    @for (_lvl of levels; track $index) {
    <button type="button" class="px-2" (click)="levelChange.emit(_lvl)">
      @if (_lvl <= level()) {
      <app-star-fill-icon className="w-9 h-9 fill-gray-950 stroke-gray-950" />
      } @else {
      <app-star-fill-icon
        [className]="
          'w-9 h-9 fill-white stroke-gray-950 ' +
          'transition-all duration-300 hover:fill-gray-950'
        "
      />
      }
    </button>
    }
  </div>

  <button
    type="button"
    appBtn
    appBtnTheme="secondary"
    appBtnBorder="none"
    (click)="arrowClockwise.emit()"
  >
    <app-arrow-clockwise-icon className="w-8 h-8 fill-neutral-900" />
  </button>
</div>
