<div class="flex justify-center gap-6 pt-6">
  <button
    type="button"
    [class]="
      'px-2 font-bold text-xl border border-black ' +
      'rounded-md shadow-lg hover:opacity-80 disabled:opacity-40'
    "
    [disabled]="previousBtnDisabled()"
    (click)="previousBtnClick.emit()"
  >
    {{ previousBtnText() }}
  </button>
  <button
    type="button"
    [class]="
      'px-2 font-bold text-xl border-black bg-black text-white ' +
      'rounded-md shadow-lg hover:opacity-80 disabled:opacity-40'
    "
    [disabled]="nextBtnDisabled()"
    (click)="nextBtnClick.emit()"
  >
    {{ nextBtnText() }}
  </button>
</div>
