<form class="grid grid-cols-2 gap-4" (ngSubmit)="nextEvent.emit()">
  @for (word of words; track word.id; let idx = $index) {
  <span class="justify-self-end pb-1">{{ word.translationFr }}</span>
  <span>
    <input
      type="text"
      class="border-b border-black w-48 font-bold"
      [name]="'answer' + idx"
      [(ngModel)]="answers[idx]"
      (input)="onInputChange(idx)"
      (focus)="focusIndexChange.emit(idx)"
    />
    @if (word.value === answers[idx]) {
    <span class="px-2 font-bold">✔</span>
    }
  </span>
  }
  <div class="p-2 justify-self-end">
    <button
      type="button"
      class="border-2 border-black px-4 font-bold"
      (click)="backEvent.emit()"
    >
      <
    </button>
  </div>
  <div class="p-2">
    <button
      type="submit"
      class="border-2 border-black px-4 font-bold disabled:opacity-40"
      [disabled]="!areAllAnswersValid()"
    >
      >
    </button>
  </div>
</form>
