<div class="flex items-center bg-white gap-5 md:gap-8">
  <div class="flex-1 flex justify-end items-center gap-3">
    <button
      type="button"
      class="p-1"
      appBtn
      appBtnTheme="secondary"
      appBtnPadding="none"
      appBtnBorder="none"
      (click)="exerciceService.reinit()"
    >
      <app-arrow-clockwise-svg />
    </button>

    <button
      type="button"
      class="p-1 rounded-md"
      appBtn
      [appBtnTheme]="exerciceService.isReversed() ? 'primary' : 'secondary'"
      appBtnPadding="none"
      appBtnBorder="none"
      (click)="exerciceService.reverse()"
    >
      <app-arrow-left-right-svg />
    </button>
  </div>

  <span class="text-gray-800" [class.font-bold]="areAllWordsAnswered()">
    {{ nbWordsAnswered() }} / {{ nbWordsAvailable() }}
  </span>

  <div class="flex-1 flex justify-start items-center gap-3">
    @if (exerciceService.areAllWordsAnswered() && exerciceService.nextGroup();
    as nextGroup) {
    <a
      [routerLink]="['../..', nextGroup.pathParam]"
      class="px-2 rounded-full"
      appBtn
      appBtnPadding="none"
      appBtnFontWeight="bold"
    >
      {{ nextGroup.pathParam }}
    </a>
    }
  </div>
</div>
