<div class="grid grid-cols-2 gap-4">
  @for (word of wordsExerciceService.words(); track word.id) {
  <span class="justify-self-end">{{ word.translationFr }}</span>
  <div class="flex items-start">
    <input
      type="text"
      [class]="
        'flex-1 min-w-0 max-w-48 border-b border-black font-bold ' +
        'disabled:border-gray-400'
      "
      [name]="'answer' + $index"
      [value]="wordsExerciceService.getFormValue($index)"
      (input)="onInput($index, $event)"
      (focus)="wordsExerciceService.lastInputFocusIndex.set($index)"
      [disabled]="wordsExerciceService.isFormValueValid($index)"
      autocomplete="off"
      autocapitalize="off"
      #formInput
    />
    @if (wordsExerciceService.isFormValueValid($index)) {
    <span class="px-2 font-bold">✔</span>
    }
  </div>
  }
</div>

<app-words-exercice-button-bar
  previousBtnText="←"
  nextBtnText="✔"
  (previousBtnClick)="wordsExerciceService.goToPreviousStep()"
  (nextBtnClick)="wordsExerciceService.goToNextStep()"
  [nextBtnDisabled]="!wordsExerciceService.isFormWin()"
/>
