<div class="grid grid-cols-2 gap-4 items-center">
  @for (word of wordsExerciceService.words(); track word.id) {
  <label class="justify-self-end" [for]="'answer' + $index">{{
    wordsExerciceService.getWordTranslation(word)
  }}</label>
  <div class="flex items-start">
    <input
      type="text"
      [class]="
        'flex-1 min-w-0 max-w-48 p-1 border-b border-black ' +
        'font-bold disabled:border-gray-400'
      "
      [id]="'answer' + $index"
      [name]="'answer' + $index"
      [value]="wordsExerciceService.getFormValue($index)"
      (input)="onInput($index, $event)"
      (focus)="wordsExerciceService.setLastInputFocusIndex($index)"
      [disabled]="wordsExerciceService.isFormValueValid($index)"
      autocomplete="off"
      autocapitalize="off"
      #formInput
    />
    @if (wordsExerciceService.isFormValueValid($index)) {
    <span class="px-2 font-black">✓</span>
    }
  </div>
  }
</div>

<app-words-exercice-button-bar>
  <button
    type="button"
    ngProjectAs="[left]"
    appBtn
    (click)="wordsExerciceService.goToPreviousStep()"
  >
    ←
  </button>

  <button
    type="button"
    ngProjectAs="[right]"
    appBtn
    btnInverse="true"
    [disabled]="!wordsExerciceService.areAllFormValuesValid()"
    (click)="wordsExerciceService.goToNextStep()"
  >
    ✓
  </button>
</app-words-exercice-button-bar>
