<div class="flex items-center pb-6 text-gray-800">
  <span class="flex-1 px-2"></span>
  @for (link of links; track $index) {
  <a
    class="block border-2 border-gray-700 m-2 px-4"
    [routerLink]="link.url"
    [routerLinkActive]="['text-white', 'bg-black', 'font-bold']"
    [routerLinkActiveOptions]="{ exact: true }"
    >{{ link.label }}</a
  >
  @if (!$last) {
  <span> > </span>
  } }
  <span class="flex-1 px-2 text-gray-700 text-opacity-90">
    {{ nbWordsAnswered }}/{{ nbWordsInCategory }}
  </span>
</div>

@if (clientSide) {
<router-outlet></router-outlet>
}
