<div class="flex flex-col gap-12">
  @for (group of groups(); track $index) {
  <a
    [routerLink]="[group.pathParam]"
    class="border border-gray-400 rounded-t-md shadow-md"
  >
    <div
      class="flex justify-between items-center px-3 py-1"
      [class]="getHeaderClass(group.completionStatus)"
    >
      <span class="text-xl font-bold">{{ $index + 1 }}</span>
      <span class="text-base">{{ group.words.length }}</span>
    </div>
    <div class="p-3 pb-5 text-gray-950">
      <div class="flex flex-wrap gap-x-3 gap-y-2">
        @for (word of group.words; track $index;) {
        <span>{{ word.es }}&nbsp;</span> }
      </div>
    </div>
  </a>
  }
</div>
