<div class="flex items-center gap-2">
  <div class="w-7 h-7 text-right font-bold overflow-hidden">
    <div [@slideDown]="wordIdx()">
      <div>{{ wordIdx() + 1 }}</div>
      <div>{{ wordIdx() }}</div>
    </div>
  </div>
  <div class="relative flex-1 h-4 border border-gray-400 rounded">
    <div
      class="absolute top-0 left-0 h-full transition-all duration-500 rounded-l"
      [class]="bgColor()"
      [class.rounded-r]="progressPercent() === 100"
      [style.width]="progressPercent() + '%'"
    ></div>
    <div
      [class]="
        'absolute top-full -translate-x-1/2 transition-all duration-500 ' +
        'border border-transparent border-x-6 border-b-10 border-b-gray-800'
      "
      [style.left]="(wordIdx() / nbWords()) * 100 + '%'"
    ></div>
  </div>
  <div class="w-7 h-7 text-left">{{ nbWords() }}</div>
</div>
