<a
  class="group flex gap-6 border border-neutral-400 hover:border-neutral-800 transition-all py-8 px-3 h-full rounded-md shadow-md hover:shadow-xl"
  [routerLink]="[
    '/',
    group().category.pathParam,
    group().pathParam,
    'exercice'
  ]"
>
  <div class="flex-1 flex flex-col gap-4">
    <div class="text-2xl font-bold">
      <span
        class="px-1 rounded text-white"
        [class]="group().category.color.bgColor"
        >{{ group().category.label }}</span
      >
      <span class="mx-4">{{ group().label }}</span>
    </div>
    <div class="flex-1 leading-relaxed">
      @for (w of group().words; track $index) {
      {{ w.es }}
      @if (!$last) { {{ " - " }} } }
    </div>
  </div>
  <div class="self-center transition group-hover:translate-x-1.5">
    <app-arrow-right-circle-fill-icon className="w-8 h-8 fill-neutral-900" />
  </div>
</a>
