<div class="text-center text-2xl">
  <span class="font-bold text-white bg-black px-1 rounded-md">{{
    nbWords()
  }}</span>
  mots
</div>

<app-spacer size="lg" />

<div class="flex flex-col gap-20 items-stretch">
  @for (groupOfCategories of categories(); track $index) {
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    @for (category of groupOfCategories; track $index) {
    <a
      [routerLink]="category.pathParam"
      class="py-12 text-lg text-center border border-gray-400 rounded-t-md shadow-md"
      ><b>{{ category.label }}</b> ({{ category.nbWords }})</a
    >
    }
  </div>
  }
</div>
