<div class="text-center text-3xl">
  <span class="font-bold text-white bg-black px-1 rounded-md">{{
    nbWords()
  }}</span>
  mots
</div>

<app-spacer size="2xl" />

<div class="flex flex-col gap-10 items-stretch">
  @for (categories of data(); track $index) {
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
    @for (category of categories; track $index) {
    <a
      [routerLink]="category.pathParam"
      class="py-16 text-center border border-gray-400 rounded-t-md shadow-md"
      ><b>{{ category.label }}</b> ({{ category.nbWords }})</a
    >
    }
  </div>
  }
</div>
