<app-meta robots="noIndex" />

<app-client-side>
  @if(word(); as word) {
  <div
    class="fixed top-0 left-0 h-1 w-full transition-all duration-700"
    [class]="group().category.color.bgColor"
    [class.opacity-0]="!isCompleted()"
    [class.opacity-100]="isCompleted()"
  ></div>

  <div
    class="flex flex-col items-center justify-around gap-8 min-h-[calc(100lvh-5rem)] cursor-default"
  >
    <div class="text-6xl text-gray-800 tracking-wide">
      {{ word.fr }}
    </div>

    @if (level() === 1) {
    <app-exercice-level-1
      #exerciceLevelCmp
      [word]="word.es"
      (next)="answerWord()"
    ></app-exercice-level-1>
    } @else if (level() === 2) {
    <app-exercice-level-2
      #exerciceLevelCmp
      [word]="word.es"
      (next)="answerWord()"
    ></app-exercice-level-2>
    }

    <div class="flex flex-col gap-7">
      <app-exercice-progress-bar
        [wordIdx]="wordIdx()"
        [nbWords]="nbWords()"
        [progressPercent]="progressPercent()"
        [bgColor]="group().category.color.bgColor"
      />
      <app-exercice-button-bar
        [level]="level()"
        [questionFillColor]="
          hasUsedHelp() ? 'fill-red-600' : 'fill-neutral-900'
        "
        [starFillColor]="
          isGroupCompleted()
            ? group().category.color.fillColor
            : 'fill-gray-900'
        "
        (levelChange)="setLevel($event)"
        (patchQuestion)="help()"
        (arrowClockwise)="resetLevel()"
      />
    </div>
  </div>

  <app-next-exercice-links [group]="group()"></app-next-exercice-links>
  }
</app-client-side>
