<div class="grid grid-cols-2 gap-4">
  @for (word of wordsExerciceService.words(); track word.id) {
  <span class="justify-self-end font-bold">{{
    wordsExerciceService.getWordValue(word)
  }}</span>
  <span class="border-b border-transparent">{{
    wordsExerciceService.getWordTranslation(word)
  }}</span>
  }
</div>

<app-words-exercice-button-bar>
  <button
    type="button"
    ngProjectAs="[left]"
    appBtn
    btnTextXl="false"
    btnFontBold="false"
    (click)="wordsExerciceService.reverse()"
  >
    @if (!wordsExerciceService.isReversed()) {
    <span class="font-bold">ES</span> - <span>FR</span>
    } @else {
    <span class="font-bold">FR</span> - <span>ES</span>
    }
  </button>

  <button
    type="button"
    ngProjectAs="[left]"
    appBtn
    (click)="wordsExerciceService.reinit()"
  >
    ↻
  </button>

  <button
    type="button"
    ngProjectAs="[right]"
    appBtn
    btnInverse="true"
    (click)="wordsExerciceService.goToNextStep()"
  >
    →
  </button>

  @if (nextWordGroupPathParam(); as nextWordsGroupPathParam) {
  <a
    class="px-3"
    [routerLink]="['../..', nextWordsGroupPathParam]"
    ngProjectAs="[right]"
    appBtn
    btnInverse="true"
    btnPadding="false"
  >
    {{ nextWordsGroupPathParam }}
  </a>
  }
</app-words-exercice-button-bar>
