<div class="grid grid-cols-2 gap-4">
  @for (word of wordsExerciceService.words(); track word.id) {
  <span class="justify-self-end font-bold">{{
    wordsExerciceService.getWordValue(word)
  }}</span>
  <span class="border-b border-transparent">{{
    wordsExerciceService.getWordTranslation(word)
  }}</span>
  }
</div>

<app-words-exercice-button-bar
  previousBtnText="↻"
  nextBtnText="→"
  (previousBtnClick)="wordsExerciceService.reinit()"
  (nextBtnClick)="wordsExerciceService.goToNextStep()"
>
  <button
    ngProjectAs="[left]"
    type="button"
    [class]="
      'border border-black px-2 ' + 'rounded-md shadow-lg hover:opacity-80'
    "
    (click)="wordsExerciceService.reverse()"
  >
    @if (wordsExerciceService.isReversed()) {
    <span class="font-bold">FR</span> - <span>ES</span>
    } @else {
    <span class="font-bold">ES</span> - <span>FR</span>
    }
  </button>

  @if (wordsExerciceService.areAllWordsAnswered() && nextWordsGroup()) {
  <a
    ngProjectAs="[right]"
    [routerLink]="['../..', nextWordsGroup()?.pathParam]"
    [class]="
      'px-3 font-bold text-xl border border-black bg-black text-white ' +
      'rounded-md shadow-lg hover:opacity-80'
    "
  >
    {{ nextWordsGroup()?.pathParam }}
  </a>
  }
</app-words-exercice-button-bar>
