@use "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --animate-caret: caret 2s linear infinite;

  @keyframes caret {
    from,
    to {
      border-color: var(--color-black);
    }
    25% {
      border-color: var(--color-black);
    }
    30%,
    70% {
      border-color: var(--color-white);
    }
    75% {
      border-color: var(--color-black);
    }
  }
}

@layer base {
  html,
  body {
    margin: 0;
  }
  button {
    cursor: pointer;
  }
}
