<div class="flex items-center gap-3">
  <div class="w-8 h-8 text-right text-2xl font-bold overflow-hidden">
    <div #wordIndex>
      <div>{{ wordIdx() + 1 }}</div>
      <div>{{ wordIdx() }}</div>
    </div>
  </div>
  <div class="relative w-60 flex-1 h-6 border border-gray-800 rounded">
    <div
      class="absolute top-0 left-0 h-full transition-all duration-500 rounded-l"
      [class]="bgColor()"
      [class.rounded-r]="wordIdx() + 1 === nbWords()"
      [style.width]="((wordIdx() + 1) / nbWords()) * 100 + '%'"
    ></div>
  </div>
  <div class="w-8 h-8 text-left text-2xl">{{ nbWords() }}</div>
</div>
