<div class="grid grid-cols-2 gap-4">
  @for (word of words; track word.id) {
  <span class="justify-self-end font-bold pb-0.5">{{ word.value }}</span>
  <span>{{ word.translationFr }}</span>
  }
</div>
<div class="flex justify-center gap-4 pt-10">
  <button
    type="button"
    class="border-2 border-black font-bold rounded-full px-2 mx-2"
    (click)="reinit()"
  >
    ↻
  </button>
  <a [routerLink]="['qcm']" class="border-2 border-black px-4">qcm</a>
  <a [routerLink]="['formulaire']" class="border-2 border-black px-4"
    >formulaire</a
  >
</div>
