name: DEPLOY

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - run: pnpm install --frozen-lockfile

      - run: pnpm run lint

      - run: pnpm run build:prod

      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/voces/browser
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com
          commit-message: "ci: deploy from branch ${{ github.ref_name }}"
