name: RELEASE

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        type: string
        default: "patch"
        required: true
      deploy:
        description: "Deploy"
        type: boolean
        default: true
        required: true

jobs:
  release:
    runs-on: ubuntu-latest

    if: github.ref_name == 'main'

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - run: git config --local user.name "github-actions[bot]"

      - run: git config --local user.email "github-actions[bot]@users.noreply.github.com"

      - run: pnpm install --frozen-lockfile

      - run: pnpm run lint

      - run: pnpm version ${{ inputs.version }} --tag-version-prefix ""

      - run: pnpm run build:prod

      - run: echo "PACKAGE_VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV

      - run: git push --follow-tags

      - name: deploy
        if: ${{ inputs.deploy }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/voces/browser
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com
          commit-message: "ci: deploy ${{ env.PACKAGE_VERSION }}"
